@use '_var';

.header {
    background-image: url('../images/cyber.png');
    background-color: var.$primary-color;
    background-position: center;
    background-size: cover;
    color: var.$secondary-color;
    height: 25vh;
}

.intro {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }

.intro h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1;
}

.intro h2 {
    margin-top: 0;
    font-weight: 400;
}