.contact-info {
    display: flex;
    flex-flow: column;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-txt {
    margin-left: 15px;
}

.avatar img  {
    width: 368px;
}

.tech img {
    width: 325px;
}

.left-content {
    padding: 20px
}