@use '_var';
@import '_header';


@mixin heading {
    font-weight: var.$primary-font-weight;
    margin: 20px 0;
    font-size: 22px;
}

html, h2, h3, p {
    font-family: var.$primary-font;
    font-weight: var.$primary-font-weight;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2, h3 {
    text-transform: uppercase;
    @include heading;
}

body{
    background-color: var.$secondary-background;
}

main {
    margin: 0 auto;
    width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.main-content {
    display: flex;
}

.column-1 {
    width: 65%;
    background-color: var.$primary-color;
    color: var.$secondary-color;
}

.avatar img {
    width: 368px;
}

.column-2 {
    background-color: var.$secondary-color;
}

.skills, .column-2 {
    padding: 20px
}

.contact-info {
    display: flex;
    flex-flow: column;
}