@use '_var';
@import '_header';
@import '_left';
@import 'right';

@mixin heading {
    font-weight: var.$primary-font-weight;
    margin: 20px 0;
    font-size: 25px;
}

html, h2, p {
    font-family: var.$primary-font;
    font-weight: var.$primary-font-weight;
}

.uppercase {
    text-transform: uppercase;
}

h2 {
    @extend .uppercase;
    @include heading;
}

h3 {
    font-weight: 600;
}

body{
    background-color: var.$secondary-background;
}

main {
    margin: 0 auto;
    width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.main-content {
    display: flex;
}

.column-1 {
    width: 65%;
    background-color: var.$primary-color;
    color: var.$secondary-color;
}

.avatar img  {
    width: 368px;
}

.tech img {
    width: 325px;
}

.left-content {
    padding: 20px
}

.column-2 {
    @extend .left-content;
    background-color: var.$secondary-color;
}

.contact-info {
    display: flex;
    flex-flow: column;
}